extends layout

block content-title
  h1 Admin panel

block content
  h2 admin stuff here tho
  p perhaps add some quick ways to add games/highscores
  
  input#search(type="search", placeholder="Search Craig's Jobs")
  h2#results
