block nav
  nav.navbar.navbar-custom
    .container-fluid
      .navbar-header
        button(type='button',class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class='navbar-brand',href='#') Highscores
      
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.navitem(class= page === "home" ? "active" : "")
            a(href='/') Home
          li.navitem(class= page === "games" ? "active" : "")
            a(href='/games') Games
          li.navitem
            a(href='#') Scoreboards
